<ion-card class="rounded-[12px]">
  <ion-card-content>
    <div class="flex justify-between border-b-2 pb-3">
      <div class="flex gap-3 items-center">
        <ion-icon src="assets/icon/pending.svg" class="text-[42px]"></ion-icon>
        <div class="text-start text-[12px]">
          <p class="font-semibold m-0 text-black"> #1234566788 </p>
          <p class="m-0">10 Sep 2021</p>
        </div>
      </div>
      <div>
        <button
          disabled
          class="rounded-[14px] p-2 text-[10px] text-[#F59F00] bg-[#FFF9DB]"
        >
          Pending
        </button>
      </div>
    </div>
    <div class="flex justify-between text-[12px] my-3">
      <div class="text-left">
        <p class="">Berat</p>
        <strong class="text-black font-semibold">32 KG</strong>
      </div>
      <div class="text-left">
        <p class="">Total Paket</p>
        <strong class="text-black font-semibold">50</strong>
      </div>
      <div class="text-right">
        <p class="">Estimasi</p>
        <strong class="text-black font-semibold">10 Sep 2021, 20:20 WIB</strong>
      </div>
    </div>
    <div class="bg-[#FFFAEB] rounded-md p-2 flex gap-2">
      <ion-icon src="assets/icon/pointerMap.svg" class="text-[32px] relative bottom-[6px]"></ion-icon> 
      <div class="text-[12px]">
        <p class="text-left font-semibold text-black">
          Kost
        </p>
        <p class="text-left">
          Jl. Ampera Raya No. 133, RT.05/RW.10, Ragunan, Kec. Ps. Minggu, Kota
          Jakarta....
        </p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
