<header>
  <div
    class="bg-[#E52138] w-screen h-[120px] left-[0] top-[0] absolute z-[-10] overflow-hidden"
  >
    <div class="flex w-screen mt-[30px]" *ngIf="withBackground">
      <img
        src="assets/svg_group.svg"
        alt="bg-group-1"
        class="top-[60px] right-[10px w-full]"
      />
      <img
        src="assets/svg_group.svg"
        alt="bg-group-1"
        class="top-[60px] left-[30px] w-full"
      />
    </div>
  </div>
  <div
    class="w-full bg-[#E52138] h-[30px] absolute rounded-t rounded-bl-full rounded-br-full left-0 top-[120px] z-[-10]"
  ></div>
  <ng-content></ng-content>
</header>